VtecTeamFlasher/Service References/VtecTeamService/VtecTeamWebService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClientAndServerCommons.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClientAndServerCommons.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vtecteam.azurewebsites.net/VtecTeamWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientAndServerCommons" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Skype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Viber" type="xs:boolean" />
          <xs:element minOccurs="0" name="WhatsApp" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="AbstractUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ClientAndServerCommons" base="q1:AbstractDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReflashHistory" nillable="true" type="tns:ArrayOfReflashHistory" />
          <xs:element minOccurs="0" name="Requests" nillable="true" type="tns:ArrayOfReflashRequest" />
          <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbstractUser" nillable="true" type="tns:AbstractUser" />
  <xs:complexType name="ArrayOfReflashHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReflashHistory" nillable="true" type="tns:ReflashHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReflashHistory" nillable="true" type="tns:ArrayOfReflashHistory" />
  <xs:complexType name="ReflashHistory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/ClientAndServerCommons" base="q2:AbstractDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cvn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentStatus" type="xs:int" />
          <xs:element minOccurs="0" name="ReflashDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ReflashStatus" type="xs:int" />
          <xs:element minOccurs="0" name="ReslashFileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Review" nillable="true" type="tns:ArrayOfReview" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="Vin" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReflashHistory" nillable="true" type="tns:ReflashHistory" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/ClientAndServerCommons" base="q3:AbstractDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReflashHistoryId" type="xs:int" />
          <xs:element minOccurs="0" name="ReviewDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SourceUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserReview" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="ArrayOfReflashRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReflashRequest" nillable="true" type="tns:ReflashRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReflashRequest" nillable="true" type="tns:ArrayOfReflashRequest" />
  <xs:complexType name="ReflashRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/ClientAndServerCommons" base="q4:AbstractDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdditionalMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EcuCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RequestStatus" type="xs:int" />
          <xs:element minOccurs="0" name="StockFile" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="StockFileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReflashRequest" nillable="true" type="tns:ReflashRequest" />
</xs:schema>