VtecTeamFlasher/Service References/VtecTeamService/VtecTeamWebService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClientAndServerCommons.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClientAndServerCommons.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://vtecteam.azurewebsites.net/VtecTeamWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientAndServerCommons" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OpenModules" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Skype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Viber" type="xs:boolean" />
          <xs:element minOccurs="0" name="WhatsApp" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="AbstractUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ClientAndServerCommons" base="q1:AbstractDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbstractUser" nillable="true" type="tns:AbstractUser" />
  <xs:complexType name="ReflashRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/ClientAndServerCommons" base="q2:AbstractDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BinaryNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CarDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
          <xs:element minOccurs="0" name="EcuNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EcuPhoto" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="EcuPhotoFilename" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpectedResolveDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RequestDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RequestDetails" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" type="xs:int" />
          <xs:element minOccurs="0" name="StockBinary" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="StockBinaryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReflashRequest" nillable="true" type="tns:ReflashRequest" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/ClientAndServerCommons" base="q3:AbstractDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CommentDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CommentText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestId" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="ArrayOfReflashHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReflashHistory" nillable="true" type="tns:ReflashHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReflashHistory" nillable="true" type="tns:ArrayOfReflashHistory" />
  <xs:complexType name="ReflashHistory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/ClientAndServerCommons" base="q4:AbstractDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BinaryFileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CarVin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreviousBinaryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReflashDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Review" nillable="true" type="tns:Review" />
          <xs:element minOccurs="0" name="Status" type="xs:int" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReflashHistory" nillable="true" type="tns:ReflashHistory" />
  <xs:complexType name="Review">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/ClientAndServerCommons" base="q5:AbstractDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReviewDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SourceUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserReview" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="ArrayOfReflashRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReflashRequest" nillable="true" type="tns:ReflashRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReflashRequest" nillable="true" type="tns:ArrayOfReflashRequest" />
  <xs:complexType name="ArrayOfNews">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="News" nillable="true" type="tns:News" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNews" nillable="true" type="tns:ArrayOfNews" />
  <xs:complexType name="News">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/ClientAndServerCommons" base="q6:AbstractDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="News" nillable="true" type="tns:News" />
</xs:schema>